<main class="article">
{{> toolbar}}
{{#if (eq page.attributes.role 'boardview')}}
<div class="content" style="height:90%">
  <iframe srcdoc="{{{page.contents}}}" height="100%" width="100%" frameBorder="0">
  </iframe>
</div>
{{else}}
  <div class="content">
    {{#if (eq page.layout '404')}}
    {{> article-404}}
  {{else}}
    {{> toc}}
    {{> article}}
    {{/if}}
{{/if}}
  </div>
  </main>
  